h1{
    color: aquamarine;
}
h3{
    color: bisque;
}
span{
    color: blueviolet;
}
body{
    background-color: indigo;
}
#bitch{
    color: chocolate;
}
.chigga{
    color: blueviolet;
}
#idiot{
    color: cornflowerblue;
}